
//text
.white-space-nowrap {
	white-space: nowrap;
}
.text-red{
	color: red;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align-last: left;
}
.text-primary {
	color: $primary;
}
.text-white {
	color: $white;
}
.text-secondary {
	color: $secondary;
}
.text-gray300 {
	color: $gray300;
}
.text-gray600 {
	color: $gray600;
}
.text-fiveth{
	color: $fiveth;
}
.title-primary {
	color: #000;
	font-size: 64px;
	font-style: italic;
	font-weight: 700;
	line-height: 1.3125;
}
.title-secondary {
	color: #fff;
	font-size: 64px;
	font-style: italic;
	font-weight: 700;
	line-height: 1.3125;
}
.subtitle-primary {
	color: #000;
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 1.3125;
}
.subtitle-secondary {
	color: #fff;
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 1.3125;
}
.text-black {
	color: $black;
	a {
		color: $black;
	}
}
//border
.border-top-primary-2{
	border-top: 2px solid $primary;
}
.border-bottom-primary-2{
	border-bottom: 2px solid $primary;
}
.border-top-secondary-2{
	border-top: 2px solid $secondary;
}
.border-bottom-secondary-1{
	border-bottom: 1px solid $secondary;
	border-top: 1px solid rgba(255, 255, 255, 0);
	border-right: 1px solid rgba(255, 255, 255, 0);
	border-left: 1px solid rgba(255, 255, 255, 0);
}
.border-right {
	border-right: 1px solid #000;
}

.border-top-white {
	border-top: 1px solid $white;
}
.border-x-gray600 {
	border-right: 1px solid $gray600;
	border-left: 1px solid $gray600;
	border-bottom: 1px solid $gray600;
}
.border-top-radius-5 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.border-right-radius-5{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.border-radius-5{
	border-radius: 5px;
}
.border-none {
	border: none;
}

//display
.d-none {
	display: none;
}
.d-inline-block {
	display: inline-block;
}
.d-block {
	display: block;
}
//font-siez
.fs-8{
	font-size: 8px;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-20 {
	font-size: 20px;
}
.fs-24 {
	font-size: 24px;
}
.fs-32 {
	font-size: 32px;
}
.fs-80 {
	font-size: 80px;
}
//font-weight
.fw-700 {
	font-weight: 700;
}
.fw-900 {
	font-weight: 900;
}
//flex-box
.d-flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.column {
	flex-direction: column;
}
.d-row {
	flex-direction: row;
}
.d-row-reverse {
	flex-direction: row-reverse;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-evenly {
	justify-content:space-evenly;
}
.justify-content-around {
	justify-content:space-around;
}
.justify-self-end {
	justify-self: end;
}
.align-items-center {
	align-items: center;
}
.align-self-start {
	align-self: start;
}
.align-self-end {
	align-self: end;
}
.align-self-center {
	align-self: center;
}
.gap-4 {
	gap: 4px;
}
.gap-8 {
	gap: 8px;
}
.gap-16 {
	gap: 16px;
}
.gap-24 {
	gap: 24px;
}
.gap-30 {
	gap: 30px;
}
//height-px
.h-32{
	height: 32px;
}
.h-38{
	height: 38px;
}
.h-100 {
	height: 100px;
}
.h-148 {
	height: 148px;
}
.h-180 {
	height: 180px;
}
.h-460 {
	height: 460px;
}
//width-px
.w-15 {
	width: 15px;
}
.w-16 {
	width: 16px;
}
.w-24 {
	width: 24px;
}
.w-30 {
	width: 30px;
}
.w-40 {
	width: 40px;
}
.w-60 {
	width: 60px;
}
.w-64 {
	width: 64px;
}
.w-80 {
	width: 80px;
}
.w-83 {
	width: 83px;
}
.w-84 {
	width: 84px;
}
.w-100 {
	width: 100px;
}
.w-160 {
	width: 160px;
}
.w-165 {
	width: 165px;
}
.w-304 {
	width: 304px;
}
.w-384 {
	width: 384px;
}
.w-412 {
	width: 412px;
}
//width-%

.w1-20 {
	width: 20%;
}
.w1-24{
	width: 24%;
}
.w1-30 {
	width: 30%;
}
.w1-3333 {
	width: 33.33%;
}
.w1-50 {
	width: 50%;
}
.w1-64 {
	width: 64%;
}
.w1-65 {
	width: 65%;
}
.w1-66 {
	width: 66%;
}
.w1-68 {
	width: 68%;
}
.w1-70 {
	width: 70%;
}
.w1-705 {
	width: 70.5%;
}
.w1-71 {
	width: 71%;
}
.w1-72 {
	width: 72%;
}
.w1-80 {
	width: 80%;
}
.w1-100 {
	width: 100%;
}
//height
.h-16{
	height: 16px;
}
.h-32{
	height: 32px;
}
.h-44{
	height: 44px;
}
.h-50 {
	height: 50px;
}
//margin
.mx-auto {
	margin: 0 auto;
}
.mb-auto{
	margin-bottom: auto;
}
.ms-8 {
	margin-left: 8px;
}
.ms-28 {
	margin-left: 28px;
}
.ms-29 {
	margin-left: 29px;
}
.ms-30 {
	margin-left: 30px;
}
.me-8 {
	margin-right: 8px;
}
.me-10 {
	margin-right: 10px;
}
.me-30 {
	margin-right: 30px;
}
.mt-4 {
	margin-top: 4px;
}
.mt-6 {
	margin-top: 6px;
}
.mt-16 {
	margin-top: 16px;
}
.mt-24 {
	margin-top: 24px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-44 {
	margin-top: 44px;
}
.mt-48 {
	margin-top: 48px;
}
.mt-56 {
	margin-top: 56px;
}
.mt-100 {
	margin-top: 100px;
}
.mb-8 {
	margin-bottom: 8px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-24 {
	margin-bottom: 24px;
}
.mb-28 {
	margin-bottom: 28px;
}
.mb-32 {
	margin-bottom: 32px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-56 {
	margin-bottom: 56px;
}
.my-4 {
	margin-top: 4px;
	margin-bottom: 4px;
}
.my-8 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.my-12 {
	margin-top: 12px;
	margin-bottom: 12px;
}
.my-14 {
	margin-top: 14px;
	margin-bottom: 14px;
}
.my-16 {
	margin-top: 16px;
	margin-bottom: 16px;
}
.my-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.my-32 {
	margin-top: 32px;
	margin-bottom: 32px;
}
//padding
.ps-8{
	padding-left: 12px;
}
.ps-12{
	padding-left: 12px;
}
.ps-95{
	padding-left: 95px;
}
.pt-16{
	padding-top: 16px;
}
.pt-20{
	padding-top: 20px;
}
.pt-30 {
	padding-top: 30px;
}
.pt-32 {
	padding-top: 32px;
}
.pt-40 {
	padding-top: 40px;
}
.pt-56 {
	padding-top: 56px;
}
.pt-100 {
	padding-top: 100px;
}
.pb-8 {
	padding-bottom: 8px;
}
.pb-16 {
	padding-bottom: 16px;
}
.pb-20 {
	padding-bottom: 20px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-136 {
	padding-bottom: 136px;
}
.pb-120 {
	padding-bottom: 120px;
}
.py-8 {
	padding-top: 8px;
	padding-bottom: 8px;
}
.py-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.py-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.py-13 {
	padding-top: 13px;
	padding-bottom: 13px;
}
.py-16 {
	padding-top: 16px;
	padding-bottom: 16px;
}
.py-18 {
	padding-top: 18px;
	padding-bottom: 18px;
}
.py-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.py-24 {
	padding-top: 24px;
	padding-bottom: 24px;
}
.py-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.py-32 {
	padding-top: 32px;
	padding-bottom: 32px;
}
.py-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.py-48 {
	padding-top: 48px;
	padding-bottom: 48px;
}
.py-56 {
	padding-top: 56px;
	padding-bottom: 56px;
}
.py-64 {
	padding-top: 64px;
	padding-bottom: 64px;
}
.py-164 {
	padding-top: 164px;
	padding-bottom: 164px;
}
.py-308 {
	padding-top: 308px;
	padding-bottom: 308px;
}
.px-8{
	padding-right: 8px;
	padding-left: 8px;
}
.px-16{
	padding-right: 16px;
	padding-left: 16px;
}
.px-54 {
	padding-right: 54px;
	padding-left: 54px;
}
//background
.bg-primary {
	background: $primary;
}
.bg-secondary {
	background: $secondary;
}
.bg-third {
	background: $third;
}
.bg-fiveth {
	background: $fiveth;
}
.bg-sixth {
	background: $sixth;
}
.bg-gray300 {
	background: $gray300;
}
.bg-white {
	background: $white;
}
//position
.position-relative {
	position: relative;
}
.position-absoult {
	position: absolute;
}
.top--10px{
	top: -10px;
}
.top-5px{
	top: 5px;
}
.top-145px{
	top: 145px;
}
.top-150px{
	top: 150px;
}
.top-164px{
	top: 164px;
}
.top-40 {
	top: 40%;
}
.top-50 {
	top: 50%;
}
.bottom--10px{
	bottom:-10px ;
}
.bottom--15px{
	bottom:-15px ;
}
.bottom-15px{
	bottom:15px ;
}
.left-100px{
	left: 100px;
}
.left-122px{
	left: 122px;
}
.left-125px{
	left: 125px;
}
.left-15 {
	left: 15%;
}
.left-16 {
	left: 16%;
}
.left-192 {
	left: 19.2%;
}
.left-50 {
	left: 50%;
}
.z-2 {
	z-index: 2;
}
.translate-middle {
	transform: translate(-50%, -50%);
}

//vertical
.vertical-align-top{
	vertical-align: top;
}
.vertical-align-center{
	vertical-align: center;
}
//brakponit
@media (min-width: 375px) {
//width-%
.w1-sm-45{
	width: 45%;
}


}
@media (min-width: 768px) {
	//display-lg
	.d-lg-none {
		display: none;
	}
	.d-lg-inline-block {
		display: inline-block;
	}
	.d-lg-block {
		display: block;
	}
	//font-size-lg
	.fs-lg-16 {
		font-size: 16px;
	}
	.fs-lg-20 {
		font-size: 20px;
	}
	.fs-lg-24 {
		font-size: 24px;
	}
	.fs-lg-32 {
		font-size: 32px;
	}
	.fs-lg-48 {
		font-size: 48px;
	}
	//width-lg-px
	.w-lg-18 {
		width: 18px;
	}
	.w-lg-24 {
		width: 24px;
	}
	.w-lg-30 {
		width: 30px;
	}
	.w-lg-48 {
		width: 48px;
	}
	.w-lg-60 {
		width: 60px;
	}
	.w-lg-64 {
		width: 64px;
	}
	.w-lg-80 {
		width: 80px;
	}
	.w-lg-84 {
		width: 84px;
	}
	.w-lg-210 {
		width: 210px;
	}
	.w-lg-450 {
		width: 450px;
	}
	//width-lg-%
	.w1-lg-20 {
		width: 20%;
	}
	.w1-lg-23 {
		width: 23%;
	}
	.w1-lg-25 {
		width: 25%;
	}
	.w1-lg-28 {
		width: 28%;
	}
	.w1-lg-30 {
		width: 30%;
	}
	.w1-lg-45 {
		width: 45%;
	}
	.w1-lg-58 {
		width: 58%;
	}
	.w1-lg-70 {
		width: 70%;
	}
	.w1-lg-100 {
		width: 100%;
	}
	// height-lg-px
	.h-lg-24 {
		height: 24px;
	}
	.h-lg-304 {
		height: 304px;
	}
	//flex-box-lg
	.d-lg-flex {
		display: flex;
	}
	
	.d-lg-row-reverse {
		flex-direction: row-reverse;
	}
	.d-lg-column {
		flex-direction: column;
	}
	.d-lg-column-reverse {
		flex-direction: column-reverse;
	}
	.flex-lg-row {
		flex-direction: row;
	}
	.justify-content-lg-between {
		justify-content: space-between;
	}

	//gap-lg
	.gap-lg-8 {
		gap: 8px;
	}
	.gap-lg-24 {
		gap: 24px;
	}
	.gap-lg-30 {
		gap: 30px;
	}
	.gap-lg-30-32 {
		gap: 30px 32px;
	}
	.gap-lg-32-30 {
		gap: 32px 30px;
	}
	.gap-lg-40 {
		gap: 40px;
	}

	//order-lg
	.order-lg-0 {
		order: 0;
	}
	.order-lg-1 {
		order: 1;
	}
	.order-lg-2 {
		order: 2;
	}
	.order-lg-3 {
		order: 3;
	}
	.order-lg-4 {
		order: 4;
	}
	//margin-lg
	.mb-lg-16 {
		margin-bottom: 16px;
	}
	.mb-lg-24 {
		margin-bottom: 24px;
	}
	.mb-lg-40 {
		margin-bottom: 40px;
	}
	.mb-lg-96 {
		margin-bottom: 96px;
	}
	.me-lg-10 {
		margin-right: 10px;
	}
	//padding-lg
	.pt-lg-22 {
		padding-top: 22px;
	}
	.pt-lg-40 {
		padding-top: 40px;
	}
	.pb-lg-16 {
		padding-bottom: 16px;
	}
	.pb-lg-18 {
		padding-bottom: 18px;
	}
	.pb-lg-22 {
		padding-bottom: 22px;
	}
	.pb-lg-56 {
		padding-bottom: 56px;
	}
	.py-lg-10 {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.py-lg-14 {
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.py-lg-30 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.py-lg-32 {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.py-lg-40 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.py-lg-65 {
		padding-top: 65px;
		padding-bottom: 65px;
	}
	.py-lg-131 {
		padding-top: 131px;
		padding-bottom: 131px;
	}
	.py-lg-372 {
		padding-top: 372px;
		padding-bottom: 372px;
	}
	.px-lg-77 {
		padding-right: 77px;
		padding-left: 77px;
	}
	.px-lg-95 {
		padding-right: 95px;
		padding-left: 95px;
	}
}
@media (min-width: 1200px) {
	//font-size-xl
	.fs-xl-16 {
		font-size: 16px;
	}
	.fs-xl-20 {
		font-size: 20px;
	}
	.fs-xl-32 {
		font-size: 32px;
	}
	.fs-xl-36 {
		font-size: 36px;
	}
	.fs-xl-48 {
		font-size: 48px;
	}
	.fs-xl-64 {
		font-size: 64px;
	}
	.fs-xl-72 {
		font-size: 72px;
	}
	//flex-xl
	.d-xl-row-reverse {
		flex-direction: row-reverse;
	}
	.gap-xl-32 {
		gap: 32px;
	}
	.gap-xl-48 {
		gap: 48px;
	}
	.gap-xl-64 {
		gap: 64px;
	}
	//width-xl-px
	.w-xl-36 {
		width: 36px;
	}
	.w-xl-44 {
		width: 44px;
	}
	.w-xl-48 {
		width: 48px;
	}
	.w-xl-350 {
		width: 350px;
	}
	.w-xl-730 {
		width: 730px;
	}
	//width-xl-%
	.w1-xl-22 {
		width: 22%;
	}
	.w1-xl-28 {
		width: 28%;
	}
	.w1-xl-30 {
		width: 30%;
	}
	//height-xl-px
	.h-xl-136 {
		height: 136px;
	}
	//margin-xl
	.mb-xl-20 {
		margin-bottom: 20px;
	}
	.mb-xl-48 {
		margin-bottom: 48px;
	}
	.mb-xl-160 {
		margin-bottom: 160px;
	}
	//padding-xl
	.pt-xl-28 {
		padding-top: 28px;
	}
	.pt-xl-60 {
		padding-top: 60px;
	}
	.pb-xl-20 {
		padding-bottom: 20px;
	}
	.pb-xl-28 {
		padding-bottom: 28px;
	}
	.pb-xl-36 {
		padding-bottom: 36px;
	}
	.pb-xl-80 {
		padding-bottom: 80px;
	}
	.py-xl-26 {
		padding-top: 26px;
		padding-bottom: 26px;
	}
	.py-xl-40 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.py-xl-60 {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.py-xl-80 {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.py-xl-128 {
		padding-top: 128px;
		padding-bottom: 128px;
	}
	.py-xl-257 {
		padding-top: 257px;
		padding-bottom: 257px;
	}
	.py-xl-348 {
		padding-top: 348px;
		padding-bottom: 348px;
	}
	.px-xl-143 {
		padding-right: 143px;
		padding-left: 143px;
	}
}
